
/* --- ESTILOS GENERALES --- */
body, main {
    padding: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 !important;
    text-align: left !important;
}


/* --- PRODUCTO DESTACADO (arriba) --- */
/*.producto-destacado {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 60px 0 60px;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}*/

/*.swiper-destacado {
    width: 65%;
    height: auto;
    position: relative;
    overflow: hidden;
    min-width: 350px;
}*/

    /*.swiper-destacado .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }*/

/*.swiper-destacado-btn {
    color: black;
    top: 50%;
    transform: translateY(-50%);
}*/

/*.info-producto {
    flex: 1;
    max-width: 500px;
    padding-right: 20px;
}*/

.titulo-producto {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.precio {
    color: #008000;
    font-size: 26px;
    margin-bottom: 10px;
}

/*.boton {
    background-color: #000;
    color: white;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
}*/

/* Botón de contacto */
.boton-contacto {
    display: inline-block; /* Permite dimensionar el botón */
    padding: 12px 25px; /* Espaciado interno (vertical/horizontal) */
    background: #2c3e50; /* Color de fondo */
    color: white; /* Color de texto */
    text-decoration: none; /* Elimina subrayado de enlace */
    border-radius: 4px; /* Bordes redondeados */
    margin-top: 15px; /* Espacio superior */
    transition: background 0.3s; /* Efecto de transición suave */
}

    .boton-contacto:hover {
        background: #1a252f; /* Color de fondo al pasar el ratón */
    }

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}