.swiper {
    width: 100%;
    height: 300px;
}

/* Estructura responsive */
.contenedor-destacado {
    display: flex; /* Activa el modelo de caja flexible */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
    gap: 30px; /* Espacio entre elementos internos */
    padding: 10px; /* Relleno interno del contenedor */
}

.swiper-destacado {
    flex: 1; /* Permite que el swiper ocupe el espacio disponible */
    min-width: 900px; /* Ancho mínimo para mantener legibilidad (300 por defecto) */
    max-width: 1000px; /* Ancho máximo para controlar el tamaño (600 por defecto) */
    height: 480px;
    background-color:grey;
}

.info-producto {
    flex: 1; /* Permite que la info ocupe el espacio disponible */
    min-width: 300px; /* Ancho mínimo para mantener legibilidad */
    background-color:pink;
}

/* Estilos swiper */
.swiper-slide img {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Mantiene proporciones de la imagen */
    max-height: 100%; /* Limita la altura máxima */
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
    display: block;
}

@media (max-width: 600px) {
    
    .contenedor-destacado {
        height: 300px;
        gap:0px;
    }

    .swiper-slide {
        font-size: 14px;
    }

    .swiper-destacado {
        min-width: 300px;
        max-width: 600px;
        height: 345px;
    }

}

@media (min-width: 1024px) {

    .contenedor-destacado {
        height: 100%;
    }

    .swiper-slide {
        font-size: 18px;
    }
}
